<div class="checkbox">
    <h5>{{label}}</h5>
    {{#each options}}
        <label>
            <input type="checkbox" name="{{group}}[]" value="{{value}}" model="{{model}}">
            {{label}}
        </label>
    {{/each}}
</div>
