<div class="form-group">
    <label for="{{label}}">{{label}}</label>
    <input class="form-control" id="{{id}}" name="{{id}}" type="{{type}}" placeholder="{{placeholder}}" value="{{value}}">
</div>
