<div class="radio">
    <h5>{{label}}</h5>
    {{#each options}}
        <label>
            <input type="radio" name="{{group}}" id="{{key}}" value="{{value}}" model="{{model}}">
            {{label}}
        </label>
    {{/each}}
</div>
