<div class="col s12">
    <label>{{label}}</label>
    <p>
        {{#each options}}
            <input type="radio" name="{{group}}" id="{{key}}">
            <label for="{{key}}">{{label}}</label>
        {{/each}}
    </p>
</div>
