<div class="form-group">
    <h5>{{label}}</h5>
    <select id="{{id}}" name="{{id}}" class="form-control" clazz="{{class}}">
        {{#each options}}
            <option value="{{value}}">{{label}}</option>
        {{/each}}
    </select>
</div>
